@import "./variables.scss";

@keyframes blink {
  50% {
    border-color: #ff0000;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-stack;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

.App {
  color: $font-color;
  font-family: $body-font-stack;

  a {
    color: $primary-color;
  }
  a:hover {
    color: $secondary-dark;
  }

  .section {
    margin-bottom: 3rem;
  }

  .telebar {
    padding: 1.5rem 0;
  }

  .telebar .nav-item {
    font-weight: 600;
    font-family: $heading-font-stack;
  }

  .telebar .nav-link {
    color: $primary-color;
  }

  .telebar .nav-link:hover {
    color: $secondary-dark;
  }

  .telebar .tele-number .nav-link {
    font-weight: 800;
    font-size: 130%;
  }

  .icon-before {
    padding-right: 0.5rem;
    color: $secondary-light-2;
  }

  .tele-header {
    background-color: $primary-color;
    text-align: center;
    padding: 5rem 0;
  }

  .tele-header .tele-title {
    font-size: 320%;
    font-weight: 800;
    color: #fff;
    padding-bottom: 1rem;
  }

  .tele-header .tele-subtitle {
    font-size: 150%;
    color: #fff;
    padding-bottom: 1rem;
  }

  .tele-header .tele-number {
    font-size: 200%;
  }

  .tele-header .tele-number a {
    color: #fff;
  }

  .signup {
    padding: 3rem;
    margin: 1rem;
    border-radius: 1em;
    background-color: $primary-color;
    color: #fff;
    box-shadow: 0em 0em 1em $secondary-light-2;
  }

  .signup label a {
    color: #fff;
    font-weight: 600;
  }

  .faq-card {
    background-color: transparent;
    border-color: transparent;
  }

  .faq-question {
    padding: 0;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
  }

  .faq-question button {
    color: $primary-color;
    font-weight: 600;
    padding: 0;
  }

  .faq-answer {
    padding: 0;
  }

  .faq-answer p {
    margin-bottom: 1.5rem;
  }

  .photo {
    border-radius: 2em;
    height: 40%;
    //padding-bottom: 1em;
    padding: 2em;
  }

  .number-pres {
    text-align: right;
    padding-right: 1em;
    // border-style: solid;
    // border-color: #f5f4f0;;
    // border-radius: 1em;
    // border-width: 3;
    margin-bottom: 2em;
    //animation: blink .5s step-end infinite alternate;
  }

  #mapid,
  .leaflet-container {
    height: 400px;
    //width: 100%;
  }
  .mapHolder {
    padding-top: 3em;
  }
  .thanks-to {
    padding-top: 3em;
    .sponsor-image {
      padding: 1em;
      width: 100%;
    }
  }
  .about-entry {
    padding-top: 1em;
  }
  .about-image {
    padding: 3em;
  }
}
