@import './variables.scss';

$font-stack:    'Open Sans', sans-serif;
$primary-color: #333;

.App {
  background-color: #282c34;
  color: white;

  .signup {
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0em 0em 2em grey;
  }

  .faq {
    padding-top: 5em;
  }

  .telebar {
    padding-bottom: 3em;
  }
}

