@import "./variables.scss";

$font-stack: "Open Sans", sans-serif;
$primary-color: #333;
$old-background: #b6f0e3;

@keyframes blink {
  50% {
    border-color: #ff0000;
  }
}

.App {
  color: $primary-color;
  a {
    color: #17a2b8;
  }

  .signup {
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0em 0em 2em grey;
  }

  .faq {
    padding-top: 5em;
  }

  .telebar {
    padding-bottom: 3em;
  }

  .photo {
    border-radius: 2em;
    height: 40%;
    //padding-bottom: 1em;
    padding: 2em;
  }

  .introduction {
    padding-right: 3em;
  }

  .number-pres {
    text-align: right;
    padding-right: 1em;
    // border-style: solid;
    // border-color: #f5f4f0;;
    // border-radius: 1em;
    // border-width: 3;
    margin-bottom: 2em;
    //animation: blink .5s step-end infinite alternate;
  }

  #mapid,
  .leaflet-container {
    height: 400px;
    //width: 100%;
  }
  .mapHolder {
    padding-top: 3em;
  }
  .thanks-to {
    padding-top: 3em;
    .sponsor-image {
      padding: 1em;
      width: 100%;
    }
  }
  .about-entry {
    padding-top: 1em;
  }
  .about-image {
    padding: 3em;
  }
  .crash-notice {
    border-width: 5px;
    border-color: red;
    border-style: solid;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;
  }
}
