DATABASE_KEY=your_secret_key
ELK_USERNAME=your_user
ELK_PASSWORD=your_pass
ELK_NUMBER=your_number
DATABASE=test.db
BASE_URL=https://mysite.org
SECRET_KEY=your_secret_key #can be generated with for example: secrets::token_urlsafe
HOOK_URL=optional-discord-hook-url

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres

PGADMIN_DEFAULT_EMAIL=test@telehelp.se
PGADMIN_DEFAULT_PASSWORD=postgres