cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
Flask==1.1.1
Flask-JWT==0.3.2
Flask-Login==0.5.0
geographiclib==1.50
geopy==1.21.0
google-api-core==1.16.0
google-auth==1.13.1
google-cloud-texttospeech==1.0.1
googleapis-common-protos==1.51.0
grpcio==1.28.1
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pkg-resources==0.0.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==1.4.2
python-dotenv==0.12.0
pytz==2019.3
requests==2.23.0
rsa==4.0
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.1
